<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>x21133611 Sean-Robert Ntonya </li>
      <li>Hello Customer</li>
    </ul>
  </body>
</html>